@page "/persondetail/{PersonId}"

<section class="person-detail">
    <h1 class="page-title">Details for @Person.FirstName @Person.LastName</h1>

    <div class="col-12 row">

        <div class="col-10 row">
            <div class="col-xs-12 col-sm-8">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Person ID</label>
                    <div class="col-sm-8">
                        <label type="text" class="form-control-plaintext">@Person.PersonId</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">First name</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Person.FirstName</label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Last name</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Person.LastName</label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Birthdate</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Person.BirthDate.ToShortDateString()</label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Person.Email</label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Street</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Person.Street</label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Zip</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Person.Zip</label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">City</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Person.City</label>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
